.interna_produtos {
  background: url("../img/bg-produtos.jpg") no-repeat center;
  background-size: cover;
}

.produto_item {
  padding-top: 60px;
}

.produto_icone {
  background: #000;
  padding: 70px 0;
}

.produto_item img {
  margin: 0 auto;
}

.produto_item h2 {
  font-size: 36px;
  text-transform: uppercase;
  color: #fff;
  letter-spacing: 0.1em;
  font-weight: bold;
  position: relative;
  top: -180px;
  text-align: center;
  margin-bottom: -56px;
}

.produto_item h2:after,
.produto_item h2:before {
  content: "";
  display: block;
  width: 60px;
  height: 3px;
  background: #fff;
  margin: 6px auto 8px auto;
}

.produto_icone img {
  margin: 0 auto;
}

.produto_info {
  background: #000;
}

.produto_info p {
  color: #fff;
  font-size: 18px;
  line-height: 25px;
  height: 180px;
  padding: 30px 40px;
}

.produto_info ul li {
  background: #fec63f;
  text-transform: uppercase;
  font-size: 18px;
  line-height: 20px;
  font-weight: bold;
  float: left;
  width: 229px;
  height: 49px;
  text-align: center;
  padding-top: 16px;
}

.produto_info ul li:nth-child(1),
.produto_info ul li:nth-child(2) {
  margin-bottom: 2px;
}

.produto_info ul li:nth-child(even) {
  /*even pega todos numeros pares da lista */
  margin-left: 2px;
}

/*Orcamento*/

.orcamento {
  background: #000;
  width: 100%;
  margin-top: 60px;
  padding: 40px 0;
}

.orcamento h2 {
  color: #fec63f;
}

.orcamento h2:after {
  background: #fec63f;
}

.form {
  padding-right: 60px;
}

.form label {
  display: block;
  color: #fff;
  font-family: Georgia, "Times New Roman", Times, serif;
  font-size: 18px;
  line-height: 25px;
  margin-bottom: 4px;
}

.form input {
  display: block;
  width: 100%;
  border: 4px solid #fec63f;
  background: none;
  font-family: Georgia, "Times New Roman", Times, serif;
  color: #fff;
  font-size: 14px;
  padding: 7px 10px;
  margin-bottom: 10px;
  outline: none; /*tira a borda azul que fica na caixa quando clica com o mouse*/
}

.form textarea {
  display: block;
  width: 100%;
  height: 120px;
  border: 4px solid #fec63f;
  background: none;
  font-family: Georgia, "Times New Roman", Times, serif;
  color: #fff;
  font-size: 14px;
  padding: 7px 10px;
  margin-bottom: 20px;
  outline: none; /*tira a borda azul que fica na caixa quando clica com o mouse*/
}

.form button {
  cursor: pointer;
  background: none;
  padding: 7px 40px;
}

.orcamentos_dados {
  color: #fff;
}

.orcamentos_dados h3 {
  font-size: 18px;
  text-transform: uppercase;
  color: #fec63f;
  line-height: 25px;
  font-weight: bold;
}

.orcamentos_dados span {
  display: block;
  font-size: 18px;
  font-family: Georgia, "Times New Roman", Times, serif;
  line-height: 30px;
}

.orcamentos_dados span:nth-of-type(2) {
  margin-bottom: 40px;
}

.orcamentos_dados ul {
  padding-right: 60px;
}

.orcamentos_dados ul li {
  font-family: Georgia, "Times New Roman", Times, serif;
  font-size: 14px;
  padding: 10px 15px;
}

.orcamentos_dados ul li:nth-child(odd) {
  /*mudar a cor da lista so das impares*/
  background: #1d1d1d;
}

.orcamentos_dados p {
  margin: 8px 0;
}
